<div class="container">
  <div class="card" style="width: 25rem;">
    <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
    <div class="card-body">
      <h3 class="card-title">What's in the <%= @cocktail.name %></h3>
      <br>
      <br>
      <h4>Ingredients</h4>
      <% @doses.each do |dose| %>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h5><%= dose.ingredient.name %></h5>
          Amount: <%= dose.description %> <br>
          <%= link_to "Delete", dose_path(dose), method: :delete, data: {confirm: "Are you sure?"}  %>
        </li>
      </ul>
      <% end %>
    </div>
    <div class="card-body">
      <%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail), class: "card-link" %>
      <%= link_to "Back", root_path, class: "card-link"  %>
    </div>
  </div>
</div>

